:root{
    /* Color */
    --primaryColor : #000000;
    --secondaryColor : #fff;

    /* fonts */
    --mainFont: 'Open Sans', sans-serif;
    --headingFont: 'Merriweather', serif;
}
body{
    font-family: var(--mainFont);
}
.heading{
    font-family: var(--headingFont);
    font-size: 24px;
    font-weight: 700;
}
.subheading{
    font-weight: 300;
}
.nav-link{
    font-family: var(--headingFont);
    color: #fff;
}
.icons-home i{
    font-size: 1.8rem;
    color: var(--secondaryColor);
}
.carousel-item{
    height: 70vh;
}

.carousel-item img{
    height: 70vh;
    object-fit: cover;
}

